<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
         <category
               icon="src/resources/icons/category.png"
               description="Nodes made for 3D-e-Chem project http://3d-e-chem.github.io/"
               level-id="3d-e-chem"
               name="3D-e-Chem"
               path="/community">
         </category>
   </extension>
   <extension
         point="org.knime.product.splashExtension">
      <splashExtension
            icon="src/resources/icons/splash.png"
            icon24="src/resources/icons/splash24.png"
            icon32="src/resources/icons/splash32.png"
            id="3d-e-chem"
            tooltip="3D-e-Chem">
      </splashExtension>
   </extension>
</plugin>
